Use common-debian-service-https-redirect * dyn.manpages.debian.org

<VirtualHost *:443>
	ServerName dyn.manpages.debian.org
	ServerAdmin debian-admin@lists.debian.org

	Use common-debian-service-ssl dyn.manpages.debian.org
	Use common-ssl-HSTS

	ErrorLog /var/log/apache2/dyn.manpages.debian.org-error.log
	CustomLog /var/log/apache2/dyn.manpages.debian.org-access.log privacy

	DocumentRoot /srv/manpages.debian.org/www

	<Directory /srv/manpages.debian.org/www>
		Require all granted
		AllowOverride none

		ExpiresActive On
		ExpiresDefault "access plus 1 hours"

		<Files ~ "^rwmap">
			Require all denied
		</Files>

		# To set the correct Content-Type (e.g. text/html).
		RemoveType .gz
		AddEncoding gzip gz
		FilterDeclare gzip CONTENT_SET
		FilterProvider gzip inflate "%{req:Accept-Encoding} !~ /gzip,.*gzip/"
		FilterChain gzip
		Options +Multiviews
	</Directory>

	<Location /auxserver/>
		ProxyPass "http://localhost:2431/"
		ProxyPassReverse "http://localhost:2431/"

		# Use the correct host in redirects
		Header edit Location "^/" "https://manpages.debian.org/"
	</Location>

	ErrorDocument 404 /auxserver%{REQUEST_URI}?%{QUERY_STRING}
</VirtualHost>

# vim:set syn=apache:
