#!/bin/bash

# vim:syn=sh:
# vim:ts=4:
# vim:et:


# run a bunch of full postgresql backups
#  if given a host:port, run this backup,
#  else run all defined once if they have not run recently
# vim:syn=sh:


# Copyright 2014 Peter Palfrader
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


MIN_WAIT=$(( 60*60*4 ))
MIN_WAIT_SUCCESS=$(( 60*60*24*7 ))
MAX_WAIT_SUCCESS=$(( 60*60*24*10 ))
STATEDIR=/var/lib/dsa/postgres-make-base-backups

####
set -u

if [ "$(id -u)" = 0 ]; then
    echo >&2 "Do not run me as root.  Probably you want sudo -u <%= scope['postgres::backup_server::globals::backup_unix_user'] %>."
    exit 1
fi

SELF="`basename "$0"`[$$]"
DELTA_WAIT_SUCCESS=$(( MAX_WAIT_SUCCESS - MIN_WAIT_SUCCESS ))
MYHOSTNAME=$(hostname -f)

if [ -t 0 ]; then
    verbose=1
else
    verbose=0
fi

log() {
    [ "$verbose" -gt 0 ] && echo "$*"
    logger -p daemon.info -t "$SELF" "$*"
}
format_timedelta() {
    local secs="$1"; shift
    if [ "$secs" -ge 86400 ]; then
        printf '%d+%02d:%02d:%02d\n' $(($secs/3600/24)) $(($secs/3600%24)) $(($secs/60%60)) $(($secs%60))
    else
        printf '%02d:%02d:%02d\n' $(($secs/3600)) $(($secs/60%60)) $(($secs%60))
    fi
}


if [ "${1:-}" = "-h" ] || [ "${1:-}" = "--help" ]; then
    echo "Usage: $0 [<host>:<port>]"
    exit 0
fi

if [ "$#" -gt 0 ]; then
    forcehostport="$1"
    shift
else
    forcehostport=""
fi

mkdir -p "$STATEDIR"

# get a lock, but only if we did not force the run
if [ -z "$forcehostport" ]; then
    exec 200< "$STATEDIR"
    if ! flock -w 0 -e 200; then
        log "Cannot acquire lock on $STATEDIR."
        exit 0
    fi
fi

while read host port username  cluster version; do
    [ "${host#\#}" = "$host" ] || continue
    [ -z "$host" ] && continue

    flagfile="$STATEDIR/$host-$port.last-attempt"
    flagfilesuccess="$STATEDIR/$host-$port.last-success"
    if [ -n "$forcehostport" ]; then
        if [ "$forcehostport" != "$host:$port" ]; then
            log "Skipping $host:$port $version/$cluster because this run is limited to $forcehostport."
            runme=0
        else
            log "Forcing $host:$port $version/$cluster run."
            runme=1
        fi
    else
        if ! [ -e "$flagfile" ]; then
            runme=1
            log "Planning to run $host:$port $version/$cluster because no flag file exists."
        else
            now=$(date +%s)
            mtime="$(stat --printf "%Y" "$flagfile")"
            delta=$(( now - mtime ))
            if [ "$delta" -lt "$MIN_WAIT" ]; then
                runme=0
                log "Skipping $host:$port $version/$cluster because last attempt was only $(format_timedelta "${delta}") (< $(format_timedelta "${MIN_WAIT}")) ago."
            else
                if ! [ -e "$flagfilesuccess" ]; then
                    runme=1
                    log "Planning to run $host:$port $version/$cluster because no success flag exists."
                else
                    mtime="$(stat --printf "%Y" "$flagfilesuccess")"
                    delta=$(( now - mtime ))
                    if [ "$delta" -lt "$MIN_WAIT_SUCCESS" ]; then
                        runme=0
                        log "Skipping $host:$port $version/$cluster because last success was only $(format_timedelta "${delta}") (< $(format_timedelta "${MIN_WAIT_SUCCESS}")) ago."
                    elif [ "$delta" -gt "$MAX_WAIT_SUCCESS" ]; then
                        runme=1
                        log "Planning to run $host:$port $version/$cluster because last success was $(format_timedelta "${delta}") (>= $(format_timedelta "${MAX_WAIT_SUCCESS}")) ago."
                    else
                        # get a "randomish" but stable value for this backup run
                        val=$(echo "$MYHOSTNAME-$host-$port-$mtime" | sha256sum | head -c 8)
                        val=$((16#$val))
                        rnd_cuttoff=$(($val % $DELTA_WAIT_SUCCESS))
                        age_after_min=$((delta - MIN_WAIT_SUCCESS))
                        if [ "$age_after_min" -lt "$rnd_cuttoff" ]; then
                            runme=0
                            log "Skipping $host:$port $version/$cluster because random computer says wait ([$(format_timedelta "${age_after_min}") < $(format_timedelta "${rnd_cuttoff}") (< $(format_timedelta "${DELTA_WAIT_SUCCESS}"))] + $(format_timedelta "${MIN_WAIT_SUCCESS}"))."
                        else
                            runme=1
                            log "Planning to run $host:$port $version/$cluster because random computer says so ($(format_timedelta "${age_after_min}") >= $(format_timedelta "${rnd_cuttoff}"))."
                        fi
                    fi
                fi
            fi
        fi
    fi

    if [ "$runme" -gt 0 ]; then
        touch "$flagfile"
        exec 201< "$flagfile"
        if flock -w 0 -e 201; then
            log "Running $host:$port $version/$cluster."
            /usr/local/bin/postgres-make-one-base-backup "$host" "$port" "$username" "$cluster" "$version"
            rc=$?
            log "Base backup for $host:$port $version/$cluster exited with rc $rc."
            [ "$rc" = 0 ] && touch "$flagfilesuccess"
            flock -u 201
        else
            log "Cannot acquire lock on $flagfile, skipping $host:$port $version/$cluster."
        fi
    fi
done < '<%= scope['postgres::backup_server::globals::base_backup_clusters'] %>'
