##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<IfModule mod_macro.c>

<%=
  $cert_dir_le = scope().call_function('hiera', ['paths.letsencrypt_dir'])

  def make_pin_macro(site)
    res = []
    # we used to do HTTP-PKP.  Keep the macro around until we're sure there are no users of it
    res << "<Macro http-pkp-#{site}>"
      res << "  # mod macro does not like empty macros, so here's some content:"
      res << "  <Directory /non-existant>"
      res << "  </Directory>"
    res << "</Macro>"
    res << ""
    return res.join("\n")
  end

  macros = []
  Dir.glob("#{$cert_dir_le}/*.pin").sort.each do |pinfile|
    site = File.basename(pinfile, '.pin')
    macros << make_pin_macro(site)
  end
  macros.join("\n")
-%>

</IfModule>
