<%=
  dir = scope().call_function('hiera', ['paths.letsencrypt_dir'])

  fn = "#{dir}/#{@certname}.key"
  out = File.read(fn)
  out
%>
<%=
  fn = "#{dir}/#{@certname}.crt-chained"
  out = File.read(fn)
  out
%>
